@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Nunito Sans', sans-serif;
  background: rgb(247, 247, 247);
}
